In [1]:
%pylab inline
import numpy as np
import pandas as pd
import scipy.stats as stats
import random

Populating the interactive namespace from numpy and matplotlib

In [2]:
z = pd.read_csv('./zscore_550cells_min9perLineage.txt', index_col=0, sep='\t')
z.info()

<class 'pandas.core.frame.DataFrame'>
Index: 550 entries, ACH-000004 to ACH-001957
Columns: 17407 entries, A1BG to ZZZ3
dtypes: float64(17407)
memory usage: 73.0+ MB

In [3]:
cc_diff_actual =pd.read_table('delta-cc-aml-minus-exBlood.txt', sep=',', index_col=0)
cc_diff_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17407 entries, A1BG to ZZZ3
Columns: 17407 entries, A1BG to ZZZ3
dtypes: float64(17407)
memory usage: 2.3+ GB

In [4]:
cc_diff_counter = pd.DataFrame(index=cc_diff_actual.index, columns=cc_diff_actual.index, data=0)
cc_diff_counter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17407 entries, A1BG to ZZZ3
Columns: 17407 entries, A1BG to ZZZ3
dtypes: int64(17407)
memory usage: 2.3+ GB

In [5]:
subset = random.sample( list(z.index), 15)
subset

['ACH-001303',
 'ACH-000433',
 'ACH-000986',
 'ACH-000211',
 'ACH-000510',
 'ACH-000767',
 'ACH-000576',
 'ACH-001075',
 'ACH-000331',
 'ACH-000490',
 'ACH-000148',
 'ACH-001332',
 'ACH-000824',
 'ACH-000152',
 'ACH-000415']

In [6]:
remaining = np.setdiff1d( list(z.index), subset )
remaining

array(['ACH-000004', 'ACH-000007', 'ACH-000009', 'ACH-000011',
       'ACH-000012', 'ACH-000013', 'ACH-000014', 'ACH-000015',
       'ACH-000017', 'ACH-000018', 'ACH-000019', 'ACH-000021',
       'ACH-000022', 'ACH-000025', 'ACH-000028', 'ACH-000030',
       'ACH-000035', 'ACH-000036', 'ACH-000037', 'ACH-000039',
       'ACH-000040', 'ACH-000041', 'ACH-000042', 'ACH-000045',
       'ACH-000047', 'ACH-000052', 'ACH-000053', 'ACH-000054',
       'ACH-000055', 'ACH-000060', 'ACH-000067', 'ACH-000070',
       'ACH-000075', 'ACH-000078', 'ACH-000082', 'ACH-000085',
       'ACH-000086', 'ACH-000087', 'ACH-000092', 'ACH-000095',
       'ACH-000097', 'ACH-000098', 'ACH-000099', 'ACH-000108',
       'ACH-000113', 'ACH-000116', 'ACH-000118', 'ACH-000120',
       'ACH-000123', 'ACH-000127', 'ACH-000128', 'ACH-000132',
       'ACH-000137', 'ACH-000138', 'ACH-000142', 'ACH-000143',
       'ACH-000146', 'ACH-000150', 'ACH-000153', 'ACH-000159',
       'ACH-000160', 'ACH-000167', 'ACH-000168', 'ACH-000169',
       'ACH-000178', 'ACH-000183', 'ACH-000188', 'ACH-000189',
       'ACH-000190', 'ACH-000198', 'ACH-000204', 'ACH-000206',
       'ACH-000207', 'ACH-000215', 'ACH-000221', 'ACH-000222',
       'ACH-000223', 'ACH-000226', 'ACH-000227', 'ACH-000228',
       'ACH-000231', 'ACH-000232', 'ACH-000233', 'ACH-000234',
       'ACH-000235', 'ACH-000237', 'ACH-000238', 'ACH-000243',
       'ACH-000244', 'ACH-000246', 'ACH-000248', 'ACH-000250',
       'ACH-000251', 'ACH-000253', 'ACH-000255', 'ACH-000256',
       'ACH-000257', 'ACH-000258', 'ACH-000259', 'ACH-000260',
       'ACH-000261', 'ACH-000262', 'ACH-000263', 'ACH-000264',
       'ACH-000265', 'ACH-000266', 'ACH-000272', 'ACH-000273',
       'ACH-000274', 'ACH-000277', 'ACH-000278', 'ACH-000279',
       'ACH-000280', 'ACH-000281', 'ACH-000288', 'ACH-000291',
       'ACH-000294', 'ACH-000295', 'ACH-000296', 'ACH-000304',
       'ACH-000307', 'ACH-000308', 'ACH-000310', 'ACH-000311',
       'ACH-000312', 'ACH-000315', 'ACH-000316', 'ACH-000317',
       'ACH-000318', 'ACH-000319', 'ACH-000320', 'ACH-000322',
       'ACH-000323', 'ACH-000324', 'ACH-000329', 'ACH-000330',
       'ACH-000332', 'ACH-000334', 'ACH-000335', 'ACH-000336',
       'ACH-000337', 'ACH-000339', 'ACH-000341', 'ACH-000348',
       'ACH-000350', 'ACH-000352', 'ACH-000356', 'ACH-000361',
       'ACH-000362', 'ACH-000363', 'ACH-000364', 'ACH-000365',
       'ACH-000366', 'ACH-000368', 'ACH-000374', 'ACH-000375',
       'ACH-000376', 'ACH-000381', 'ACH-000383', 'ACH-000387',
       'ACH-000389', 'ACH-000390', 'ACH-000393', 'ACH-000395',
       'ACH-000401', 'ACH-000402', 'ACH-000403', 'ACH-000404',
       'ACH-000406', 'ACH-000408', 'ACH-000410', 'ACH-000411',
       'ACH-000414', 'ACH-000416', 'ACH-000420', 'ACH-000421',
       'ACH-000424', 'ACH-000425', 'ACH-000426', 'ACH-000427',
       'ACH-000436', 'ACH-000444', 'ACH-000445', 'ACH-000448',
       'ACH-000450', 'ACH-000452', 'ACH-000454', 'ACH-000458',
       'ACH-000459', 'ACH-000460', 'ACH-000463', 'ACH-000464',
       'ACH-000466', 'ACH-000467', 'ACH-000468', 'ACH-000469',
       'ACH-000470', 'ACH-000471', 'ACH-000472', 'ACH-000473',
       'ACH-000475', 'ACH-000476', 'ACH-000477', 'ACH-000480',
       'ACH-000481', 'ACH-000483', 'ACH-000484', 'ACH-000485',
       'ACH-000486', 'ACH-000487', 'ACH-000488', 'ACH-000491',
       'ACH-000495', 'ACH-000496', 'ACH-000499', 'ACH-000500',
       'ACH-000502', 'ACH-000503', 'ACH-000505', 'ACH-000507',
       'ACH-000511', 'ACH-000512', 'ACH-000516', 'ACH-000517',
       'ACH-000518', 'ACH-000520', 'ACH-000521', 'ACH-000522',
       'ACH-000524', 'ACH-000527', 'ACH-000528', 'ACH-000537',
       'ACH-000541', 'ACH-000542', 'ACH-000544', 'ACH-000545',
       'ACH-000547', 'ACH-000548', 'ACH-000549', 'ACH-000550',
       'ACH-000552', 'ACH-000557', 'ACH-000570', 'ACH-000571',
       'ACH-000573', 'ACH-000580', 'ACH-000584', 'ACH-000585',
       'ACH-000588', 'ACH-000589', 'ACH-000591', 'ACH-000593',
       'ACH-000600', 'ACH-000601', 'ACH-000604', 'ACH-000605',
       'ACH-000606', 'ACH-000608', 'ACH-000614', 'ACH-000616',
       'ACH-000618', 'ACH-000619', 'ACH-000620', 'ACH-000621',
       'ACH-000622', 'ACH-000623', 'ACH-000624', 'ACH-000627',
       'ACH-000630', 'ACH-000632', 'ACH-000633', 'ACH-000637',
       'ACH-000638', 'ACH-000646', 'ACH-000647', 'ACH-000648',
       'ACH-000649', 'ACH-000651', 'ACH-000652', 'ACH-000653',
       'ACH-000657', 'ACH-000658', 'ACH-000661', 'ACH-000662',
       'ACH-000663', 'ACH-000665', 'ACH-000671', 'ACH-000673',
       'ACH-000676', 'ACH-000677', 'ACH-000681', 'ACH-000682',
       'ACH-000683', 'ACH-000684', 'ACH-000688', 'ACH-000693',
       'ACH-000694', 'ACH-000695', 'ACH-000696', 'ACH-000697',
       'ACH-000699', 'ACH-000701', 'ACH-000706', 'ACH-000711',
       'ACH-000713', 'ACH-000714', 'ACH-000718', 'ACH-000720',
       'ACH-000721', 'ACH-000724', 'ACH-000725', 'ACH-000732',
       'ACH-000734', 'ACH-000735', 'ACH-000736', 'ACH-000738',
       'ACH-000746', 'ACH-000747', 'ACH-000748', 'ACH-000753',
       'ACH-000756', 'ACH-000757', 'ACH-000758', 'ACH-000760',
       'ACH-000763', 'ACH-000764', 'ACH-000765', 'ACH-000766',
       'ACH-000768', 'ACH-000769', 'ACH-000770', 'ACH-000771',
       'ACH-000773', 'ACH-000776', 'ACH-000777', 'ACH-000778',
       'ACH-000781', 'ACH-000782', 'ACH-000783', 'ACH-000784',
       'ACH-000785', 'ACH-000787', 'ACH-000788', 'ACH-000791',
       'ACH-000792', 'ACH-000794', 'ACH-000796', 'ACH-000799',
       'ACH-000800', 'ACH-000802', 'ACH-000804', 'ACH-000805',
       'ACH-000809', 'ACH-000810', 'ACH-000811', 'ACH-000817',
       'ACH-000819', 'ACH-000820', 'ACH-000821', 'ACH-000822',
       'ACH-000823', 'ACH-000827', 'ACH-000829', 'ACH-000831',
       'ACH-000832', 'ACH-000833', 'ACH-000834', 'ACH-000835',
       'ACH-000836', 'ACH-000837', 'ACH-000838', 'ACH-000839',
       'ACH-000840', 'ACH-000841', 'ACH-000843', 'ACH-000846',
       'ACH-000847', 'ACH-000848', 'ACH-000849', 'ACH-000851',
       'ACH-000855', 'ACH-000856', 'ACH-000858', 'ACH-000859',
       'ACH-000861', 'ACH-000862', 'ACH-000865', 'ACH-000866',
       'ACH-000867', 'ACH-000869', 'ACH-000872', 'ACH-000873',
       'ACH-000876', 'ACH-000878', 'ACH-000880', 'ACH-000881',
       'ACH-000882', 'ACH-000884', 'ACH-000885', 'ACH-000887',
       'ACH-000888', 'ACH-000889', 'ACH-000890', 'ACH-000896',
       'ACH-000898', 'ACH-000900', 'ACH-000901', 'ACH-000905',
       'ACH-000906', 'ACH-000907', 'ACH-000910', 'ACH-000911',
       'ACH-000912', 'ACH-000913', 'ACH-000915', 'ACH-000916',
       'ACH-000917', 'ACH-000921', 'ACH-000924', 'ACH-000926',
       'ACH-000928', 'ACH-000929', 'ACH-000932', 'ACH-000935',
       'ACH-000936', 'ACH-000937', 'ACH-000938', 'ACH-000939',
       'ACH-000941', 'ACH-000943', 'ACH-000946', 'ACH-000947',
       'ACH-000948', 'ACH-000950', 'ACH-000953', 'ACH-000957',
       'ACH-000958', 'ACH-000960', 'ACH-000963', 'ACH-000968',
       'ACH-000969', 'ACH-000973', 'ACH-000974', 'ACH-000975',
       'ACH-000978', 'ACH-000980', 'ACH-000984', 'ACH-000988',
       'ACH-000993', 'ACH-000994', 'ACH-000996', 'ACH-001001',
       'ACH-001020', 'ACH-001028', 'ACH-001031', 'ACH-001038',
       'ACH-001048', 'ACH-001050', 'ACH-001053', 'ACH-001054',
       'ACH-001061', 'ACH-001067', 'ACH-001096', 'ACH-001128',
       'ACH-001134', 'ACH-001151', 'ACH-001163', 'ACH-001164',
       'ACH-001173', 'ACH-001183', 'ACH-001184', 'ACH-001190',
       'ACH-001192', 'ACH-001193', 'ACH-001196', 'ACH-001197',
       'ACH-001205', 'ACH-001211', 'ACH-001212', 'ACH-001228',
       'ACH-001232', 'ACH-001239', 'ACH-001274', 'ACH-001275',
       'ACH-001277', 'ACH-001278', 'ACH-001280', 'ACH-001283',
       'ACH-001289', 'ACH-001295', 'ACH-001300', 'ACH-001301',
       'ACH-001302', 'ACH-001306', 'ACH-001318', 'ACH-001322',
       'ACH-001328', 'ACH-001333', 'ACH-001340', 'ACH-001346',
       'ACH-001353', 'ACH-001354', 'ACH-001367', 'ACH-001368',
       'ACH-001374', 'ACH-001375', 'ACH-001377', 'ACH-001380',
       'ACH-001391', 'ACH-001407', 'ACH-001408', 'ACH-001413',
       'ACH-001430', 'ACH-001431', 'ACH-001450', 'ACH-001496',
       'ACH-001500', 'ACH-001521', 'ACH-001523', 'ACH-001532',
       'ACH-001550', 'ACH-001552', 'ACH-001554', 'ACH-001645',
       'ACH-001654', 'ACH-001715', 'ACH-001735', 'ACH-001736',
       'ACH-001737', 'ACH-001740', 'ACH-001745', 'ACH-001750',
       'ACH-001765', 'ACH-001956', 'ACH-001957'], dtype='<U10')

In [7]:
cc_diff_sample = z.loc[subset].corr() - z.loc[remaining].corr()
cc_diff_sample.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17407 entries, A1BG to ZZZ3
Columns: 17407 entries, A1BG to ZZZ3
dtypes: float64(17407)
memory usage: 2.3+ GB

In [8]:
cc_diff_counter.iloc[:5,:5]

         A1BG  A1CF  A2M  A2ML1  A3GALT2
A1BG        0     0    0      0        0
A1CF        0     0    0      0        0
A2M         0     0    0      0        0
A2ML1       0     0    0      0        0
A3GALT2     0     0    0      0        0

In [9]:
cc_diff_sample.iloc[:5,:5]

             A1BG      A1CF       A2M     A2ML1   A3GALT2
A1BG     0.000000 -0.076458 -0.135747  0.132426 -0.153260
A1CF    -0.076458  0.000000 -0.285201  0.370683 -0.108456
A2M     -0.135747 -0.285201  0.000000 -0.216341  0.249113
A2ML1    0.132426  0.370683 -0.216341  0.000000 -0.062105
A3GALT2 -0.153260 -0.108456  0.249113 -0.062105  0.000000

In [10]:
cc_diff_actual.iloc[:5,:5]

          A1BG   A1CF    A2M  A2ML1  A3GALT2
A1BG     0.000  0.243  0.629 -0.521    0.250
A1CF     0.243  0.000  0.553  0.298    0.652
A2M      0.629  0.553  0.000 -0.091    0.289
A2ML1   -0.521  0.298 -0.091  0.000    0.224
A3GALT2  0.250  0.652  0.289  0.224    0.000

In [11]:
cc_diff_sample > cc_diff_actual

,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,AADAC,...,ZUP1,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
A1BG,False,False,False,True,False,True,True,False,True,False,...,True,False,False,False,True,True,True,True,False,False
A1CF,False,False,False,True,False,True,True,True,True,False,...,False,True,True,True,True,True,False,True,False,True
A2M,False,False,False,False,False,True,True,False,True,False,...,True,False,False,False,True,False,False,False,False,False
A2ML1,True,True,False,False,False,False,True,True,True,False,...,True,True,True,False,False,False,False,True,True,True
A3GALT2,False,False,False,False,False,True,True,True,True,True,...,False,False,True,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,True,True,False,False,False,False,True,True,False,True,...,True,True,True,True,False,False,False,False,False,True
ZYG11B,True,False,False,False,False,True,True,True,False,True,...,False,True,True,True,True,False,False,True,True,True
ZYX,True,True,False,True,False,False,False,True,False,False,...,True,True,False,False,False,False,True,False,True,True
ZZEF1,False,False,False,True,False,False,True,True,True,False,...,True,False,False,False,False,False,True,True,False,False
ZZZ3,False,True,False,True,True,True,False,True,True,False,...,False,False,False,False,True,True,True,True,False,False

In [12]:
#miss = where( cc_diff_sample.index != cc_diff_actual.index )[0]
miss = where( z.columns != cc_diff_sample.index )[0]
miss

array([], dtype=int64)

In [ ]:
cc_diff_sample.index[miss]

In [ ]:
cc_diff_actual.index[miss]